* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #999999;
    font-weight: 400;
    font-family: IBM Plex Mono;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    font-family: 'Libre Franklin';
    font-size: 24px;
    line-height: 36px;
}

strong {
    font-weight: 700;
    color: #000;
}

h1 {
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 71px;
    line-height: 78px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

h2 {
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    color: #5AB963;
}

h3 {
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 16px;
    color: #5AB963;
    text-transform: capitalize;
}

h4 {
    font-family: 'Libre Franklin';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

a {
    text-decoration: none;
    display: block;
    color: #999999;
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 4px;
    z-index: 2;
}

.zi {
    z-index: 2;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    max-width: 125px;
    max-height: 30px;
}

.btn {
    padding: 15px 30px;
    background-color: #5AB963;
    width: max-content;
    font-family: Libre Franklin;
    color: rgb(255, 255, 255);
}



/*Основной блок*/
.header {
    display: flex;
    flex-direction: column;
    background-image: url(../img/header/fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Libre Franklin;
    position: relative;
    height: 100vh;
}

.header__body {
    flex: 1 1 auto;
    color: rgb(255, 255, 255);
    padding: 120px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__subtitle {
    margin: 35px 0 75px 0;
}

.header__btn {
    margin: 0 auto;
}

.menu__row {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    padding: 0px 30px;
    align-items: center;
    position: relative;
}

.main__menu {
    display: flex;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list li {
    padding: 10px;
    position: relative;
    margin: 0 0 0 20px;
}


.point {
    padding: 10px;
    
    width: 44px;
    font-size: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}


.menu__btn {
    padding: 15px 30px;
    border: 2px solid white;
    height: max-content;
    color: rgb(255, 255, 255);
    margin: 0 0 0 25px;
}

.checkbox {
    position: absolute;
    display: none;
    opacity: 0;
}

.hamburger-lines {
    display: none;
    opacity: 0;
}

.hamburger-lines .line {
    display: block;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.hamburger-lines .line1 {
    transform-origin: 0% -50%;
    transition: transform 0.3s ease-in-out;
}

.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 150%;
    transition: transform 0.3s ease-in-out;
}

.menu-items {
    background-color: #0A0E1A;
    height: 110vh;
    width: 100vw;
    top: -50px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    padding: 25vh 0 5vh 0;
    z-index: 997;
    position: absolute;
    opacity: 0.97;
}

.menu-items ul {
    display: block;
    flex: 1 1 auto;
    text-align: center;
}

.items__logo {
    margin: 0 auto;
}

input[type="checkbox"]:checked~.menu-items {
    transform: translateX(40px);
}



/*----------------------------=---------------------*/
.servis {
    background: #FAFAFA;
    padding: 120px 10px;
}

.servis__title {
    max-width: 510px;
    padding: 0 0 54px 0;
}

.servis__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.servis__item {
    flex: 1 1 33.33%;
    padding: 50px 10px;
}

.servis__item:last-child {
    padding: 26px 10px 50px 10px;
}

.servis__icons {
    position: relative;
    padding: 0 0 25px 0;
}


.icon-par1 {
    position: absolute;
    z-index: 1;
    top: -40px;
    left: -10px;
    padding: 20px 20px 30px 20px;
}

.icon-par2 {
    position: absolute;
    z-index: 1;
    top: -42px;
    left: -5px;
    padding: 20px 20px 30px 20px;
}

.servis__text {
    margin: 13px 0 0 0;
}

.icon-blocks {
    position: absolute;
    z-index: 3;
    top: 2px;
    left: -10px;
    padding: 20px 20px 30px 20px;
}



/*----------------------------=---------------------*/
.decore {
    background: #FAFAFA;
    padding: 115px 10px;
}

.decore__body {
    text-align: center;
}

.decore__title {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 12px 0;
}



/* image */

    .image__body{
        display: flex;
        justify-content: center;
    }

/*----------------------------=---------------------*/
.premium {
    background: #FAFAFA;
    border-top: 1px solid#E6E6E6;
    border-bottom: 1px solid#E6E6E6;
}

.premium__row {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 120px 0 0 0;
}

.premium__block1 {
    flex: 0 1 auto;
    padding: 0 70px;
}

.premium__title {
    max-width: 380px;
}

.premium__text {
    max-width: 380px;
    margin: 25px 0 50px 0;
}

.premium__block2 {
    flex: 0 1 470px;
}

.premium__img {
    min-width: 300px;
    margin: 0 auto;
}



.premium__row-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 120px 0 0 0;
}

.premium__footer {
    padding: 110px 10px;
    text-align: center;
}

.h4 {
    margin: 0 0 12px 0;
}

/*----------------------------=---------------------*/
.party {
    background-color: #FAFAFA;
    padding: 150px 135px 0 150px;
    font-family: Libre Franklin;
    animation: 0.5s invisible linear
}

.party__row {
    display: flex;
    flex-wrap: wrap;
}

.party__block1 {
    flex: 1 1 auto;
    margin: 0 0 150px 10px;
}

.party__block2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin: 0 0 150px 10px;
    justify-content: center;
}

.party__one {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.party__line {
    width: 30px;
    height: 2px;
    border: 1px solid #5AB963;
    margin: 0 0 0 20px;

}

.party__title {
    max-width: 500px;
}

.rarty__btn {
    margin: 0 auto;
}

/*----------------------------=---------------------*/
footer {
    background-color: #0A0E1A;
    padding: 120px 10px;
    font-family: Libre Franklin;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__logo {
    flex: 1 1 auto;
    margin: 0 0 0 130px;
    min-width: 200px;
}

.footer__text {
    font-size: 12px;
    line-height: 18px;
    margin: 15px 0;
    color: #666666;
}

.footer__body {
    flex: 1 1 auto;
}

.footer__block {
    margin: 0 25px;

}


.footer__block .footer:first-child {
    padding: 0 0 12.5px 0;
}

.footer {
    color: rgb(255, 255, 255);
    padding: 12.5px 0;
}

.footer__row .icon {
    margin: 0 10px;
}

.footer_icon{
    width: 20px;
    height: 20px;
}

/*----------------------------=---------------------*/

.question {
    position: fixed;
    z-index: 20;
    width: 80px;
    height: 80px;
    top: 87vh;
    right: 50px;
    background-color: #0A0E1A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    border: 2px solid #ffffff;
}

/*----------------------------=---------------------*/

a:hover {
    transform: scale(1.05);
}

a:active {
    opacity: 0.8;
    transform: scale(1);
}

.menu__link:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.menu__sub-link:hover {
    color: #5AB963;
}

.menu__btn:hover {
    border: 2px solid #5AB963;
    color: #5AB963;
}


@media(max-width: 1000px) {
    menu {
        margin: 0;
        padding: 0 30px;
    }

    .main__menu {
        display: none;
    }

    .premium__row {
        justify-content: space-around;
    }

    .premium__row-end {
        justify-content: space-around;
    }

}

@media(max-width: 600px) {
    .checkbox {
        position: absolute;
        display: block;
        height: 80px;
        width: 80px;
        left: -10ch;
        z-index: 999;
        opacity: 0;
        cursor: pointer;
    }

    .hamburger-lines {
        display: block;
        opacity: 1;
        height: 32px;
        width: 42px;
        position: absolute;
        left: 0px;
        top: 30px;
        z-index: 998;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
          left: -7.5ch;
    }

    li a {
        padding: 20px 10px;
        font-size: 20px;
        letter-spacing: 5px;
        color: #FAFAFA;
    }


    h1 {
        font-size: 42px;
    }

    .title {
        font-size: 20px;
    }

    .menu__row {
        justify-content: flex-end;
        padding: 10px;
    }

    .menu__btn {
        display: none;
    }

    .logo {
        transform: scale(0.7);
        
       
    }

    .servis {
        padding: 30px 10px;
    }

    .decore {
        padding: 20px 10px;
    }

    .premium__row {
        margin: 20px 0 0 0;
    }

    .premium__row-end {
        margin: 20px 0 0 0;
    }

    .premium__footer {
        padding: 40px 10px;
    }

    .premium__block1 {
        padding: 10px;
    }

    .party {
        padding: 50px 10px 0 10px;
    }

    .party__block1 {
        margin: 0 10px 30px 10px;
    }

    .party__block2 {
        margin: 0 0 50px 10px;
    }

    .footer__logo {
        margin: 0 auto;
    }

    footer {
        padding: 50px 10px;
    }

    li a:hover {
        color: #5AB963;
    }
}

@media(max-width: 250px) {
    .menu__logo {
        display: none;
    }
}
